<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <% if (locals.error) { %>
    <div style="color: red; margin-bottom: 1rem">Incorrect Password</div>
    <% } %>
    <p>
      This file is password protected. <br> Please enter the password to download it!
    </p>
    <form
      method="post"
      style="
        display: grid;
        gap: 0.5rem;
        grid-template-columns: auto 1fr;
        max-width: 500px;
        margin: 0 auto;
      "
    >
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />
      <button type="submit" style="grid-column: span 2">Download</button>
    </form>
  </body>
</html>
